@use "../abstracts/mixins" as *;

.tnd-hero-overlay {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 72px;
    @include sm-down {
        padding-bottom: 32px;    
    }


    &__image-wrapper {
        position: relative;
        overflow: hidden;
        margin-bottom: -5rem;
        z-index: 0;
        max-height: 585px;
    }

    &__card-wrapper {
        position: relative;
        z-index: 1;

        @include sm-down {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    &__card {
        @media (min-width: 1200px) {
            box-shadow: -3.75rem 0 0 0 #f1b300,3.75rem 0 0 0 #f1b300;
        }

        @media (min-width: 992px) {
            box-shadow: -1.875rem 0 0 0 #f1b300,1.875rem 0 0 0 #f1b300;
        }
        padding: 60px 50px;

        h1 {
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 0;
            color: var(--color-white);
        }

        p {
            color: var(--color-white);
            font-size: 18px;
        }

        a {
            color: var(--color-white);
        }
    }

    &__text {
        max-width: 700px;
        padding-top: 32px;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__title {
        &:before {
            content: none;
        }
    }
}